[include shell_command.cfg]
# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

# See docs/Config_Reference.md for a description of parameters.

# Driver0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: !PG6
position_endstop: 0
position_max: 300
homing_speed: 75
second_homing_speed: 20

[tmc2209 stepper_x]
uart_pin: PC4
#diag_pin: PG6
run_current: 0.800
stealthchop_threshold: 999999


# Driver1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: !PG9
position_endstop: 300
position_max: 300
homing_speed: 75
second_homing_speed: 15

[tmc2209 stepper_y]
uart_pin: PD11
##diag_pin: PG9
run_current: 0.800
stealthchop_threshold: 999999


# Driver2
[stepper_z]
step_pin: PF11 
dir_pin: !PG3
enable_pin: !PG5 
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
###position_endstop: 0
position_max: 340
position_min: -7

[tmc2209 stepper_z]
uart_pin: PC6 
##diag_pin: PG10
run_current: 0.650
stealthchop_threshold: 999999


# Driver3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
###position_endstop: 0
###position_max: 340
###position_min: -7

[tmc2209 stepper_z1]
uart_pin: PC7
##diag_pin: PG10
run_current: 0.650
stealthchop_threshold: 999999


# Driver4
[extruder]

max_extrude_only_distance: 100.0
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2

microsteps: 16
gear_ratio: 50:10
#for sherpa mini extruder is ok!
rotation_distance: 22.678 ###23.56 ###23.20
###rotation_distance: 7.7
###################
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA2 # HE0
sensor_type: EPCOS 100K B57560G104F # Stock
sensor_pin:  PF4 # T0
###########
pressure_advance: 0.11 ###0.111 ###0.095 ###0.115 ###0.11 ###0.10 ### 0.09 
###########

control = pid
pid_kp = 17.541
pid_ki = 0.907
pid_kd = 84.854

min_temp: 0
max_temp: 270
min_extrude_temp: 185

[tmc2209 extruder]
uart_pin: PF2
run_current: 0.290 #####0.500
stealthchop_threshold: 0
interpolate: True

[bltouch]
sensor_pin: ^PB7
control_pin: PB6
x_offset: 0
y_offset: -39.5 ###26.5

### piu grande il numero e piu schaccia contro il piatto.... 

z_offset = 1.720


###speed: 2 oppure 3
speed: 1.0 

#1 test per point, if you want 2, change 1 with 2
samples: 1

sample_retract_dist: 3.0 #importante se tocca sul piatto durante probe calibrate....

###probe_with_touch_mode: true

########################################################################################


[safe_z_home]
home_xy_position: 151, 180 #coordinate g28 prima y poi x
speed: 75
z_hop: 7
z_hop_speed: 20.0
[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB

sensor_type: EPCOS 100K B57560G104F # Stock

control = pid
pid_kp = 50.875
pid_ki = 1.437
pid_kd = 450.241
min_temp: 0
max_temp: 130

[fan]
pin: PA8

 



[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3E0044000A51373330333137-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
##cs_pin: PC8
##spi_software_miso_pin: PC9
##spi_software_sclk_pin: PC10
##spi_software_mosi_pin: PC11



[resonance_tester]
accel_chip: adxl345
probe_points:
    152, 152, 20

##[adxl345 hotend]
##cs_pin: rpi:None
##spi_bus: spidev0.0

##[adxl345 bed]
##cs_pin: rpi:None
##spi_bus: spidev0.1

##[resonance_tester]
##accel_chip_x: adxl345 hotend
##accel_chip_y: adxl345 bed
##probe_points:
##    115, 111, 20


###[output_pin caselight]
###pin: rpi:gpio20 


[virtual_sdcard]
path: /home/pi/gcode_files

[firmware_retraction]
retract_speed:   45
retract_length:0.7
###unretract_extra_length: 0.1
unretract_speed: 45 


[pause_resume]
recover_velocity: 70  #allows pause resume functionality.


[heater_fan Ventola_nozzle]
pin: PD12 #AL POSTO DI HEATER 1!!!
kick_start_time: 0.350
heater: extruder
heater_temp: 50.0

 
[fan]
pin: PE5

###################################################################################
###[gcode_arcs]
###resolution: 1.0
###################################################################################

[display_status]


[printer]
kinematics: corexy
max_velocity: 250
max_accel: 4000 ###5000
max_accel_to_decel: 3000 ###1/2 di max_accel
max_z_velocity: 25
max_z_accel: 50
square_corner_velocity: 5.0
 
########################################################################################################

#######################################################################

 

[filament_switch_sensor sensore_filamento]
###[filament_motion_sensor sensore_filamento]
###detection_length: 500.0
###extruder: extruder
switch_pin: PG12
pause_on_runout: True
###########
runout_gcode:
  M117 Filamento Terminato...
  M600
###########
insert_gcode:
  M117 Filamento Inserito... #just a throwaway GCode command to have something in this space. You can add your own.
##   A list of G-Code commands to execute after a filament insert is
##   detected. See docs/Command_Templates.md for G-Code format. The
##   default is not to run any G-Code commands, which disables insert
##   detection.
###  event_delay: 3.0
###  pause_delay: 0.0001
###########
 

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

# A [probe] section can be defined instead with a pin: setting identical
# to the sensor_pin: for a bltouch



[neopixel neopixel]
pin: PB0
chain_count: 19
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[input_shaper]

shaper_type_x = ei
shaper_freq_x = 81

shaper_type_y = ei
shaper_freq_y = 48.8

### BEDLEVEL    
[bed_mesh]
speed: 150

###horizontal_move_z: 8
horizontal_move_z: 4 #5   ###aumentare se tocca a terra il bltouch durante il G29

###x_offset: 7.2
###y_offset: 30.2

###impostazioni per calibrare G29
mesh_min: 30, 21  
mesh_max: 269,260
algorithm: bicubic
###algorithm: lagrange

#4x4 grid for 4x4 grid for auto leveling with bltouch
probe_count: 9,9   ###4,4
###fade_start: 1.0
mesh_pps: 2,2 ###1,1

[force_move]
enable_force_move: true


###[z_tilt]
###z_positions:
### -15,155
### 325,155
###points: 
### 10,180 
### 290,180
###speed: 150
###horizontal_move_z: 5
###retries: 3
###retry_tolerance: 0.009


[screws_tilt_adjust]
screw1: 30,60
screw1_name: front left screw
screw2: 270,60
screw2_name: front right screw
screw3: 270,299
screw3_name: rear right screw
screw4: 30,299
screw4_name: rear left screw
horizontal_move_z: 5.0
speed: 150.0
screw_thread: CW-M3

[bed_screws]
screw1: 10,10
screw2: 300,10
screw3: 300,300
screw4: 10,300

###################################################################################
###################################################################################
###################################################################################
[include timelapse.cfg]
[include printer_macros.cfg]

[include G28.cfg]

###################################################################################
###################################################################################
###################################################################################

###################################################################################
###[gcode_arcs]
###resolution: 1.0
###################################################################################

[display_status]


##################################[static_digital_output reset_display]
##################################pins: !PC6, !PD13

 
[save_variables]
filename: /home/pi/klipper_config/variables.cfg ###~/variables.cfg

 
[respond]
#default_type = command
default_type: echo
[output_pin BEEPER]
pin: PD13
pwm: false ###True
value: 0
shutdown_value: 0
###cycle_time: 0.001
###scale: 1000


# In addition to the above glyphs, 16x4 displays also have the
# following hard-coded single character glyphs: right_arrow, degrees.

[temperature_sensor rpi_cpu_temp]
sensor_type: temperature_host

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: mcu

 

[idle_timeout]
timeout: 600
gcode:
  SET_GCODE_VARIABLE MACRO=global VARIABLE=extruder_temp VALUE=0
  {% if printer.pause_resume.is_paused %}
    SET_GCODE_VARIABLE MACRO=global VARIABLE=extruder_temp VALUE={printer[printer.toolhead.extruder].target}
    M104 S0 ; turn off extruder to not bake filament
  {% else %}
    TURN_OFF_HEATERS
    M84
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh sp-5]
#*# version = 1
#*# points =
#*# 	-0.160000, -0.020000, 0.035000, 0.100000, 0.122500, -0.047500, -0.215000
#*# 	-0.180000, -0.100000, -0.040000, -0.005000, -0.027500, -0.117500, -0.265000
#*# 	-0.155000, -0.020000, 0.100000, 0.120000, 0.092500, -0.005000, -0.165000
#*# 	-0.195000, -0.050000, 0.087500, 0.127500, 0.102500, 0.015000, -0.125000
#*# 	-0.175000, -0.022500, 0.095000, 0.137500, 0.112500, -0.007500, -0.130000
#*# 	-0.155000, -0.027500, 0.090000, 0.180000, 0.125000, 0.020000, -0.127500
#*# 	-0.115000, 0.035000, 0.157500, 0.167500, 0.152500, 0.060000, -0.070000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 21.0
#*# x_count = 7
#*# max_y = 259.98
#*# mesh_x_pps = 2
#*# max_x = 268.98
